<div>
  <div class="card" *ngFor="let friend of friends">
    <img src="{{'assets/images/'+friend.pic}}" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>{{friend.name}}</b></h4>
      <p>{{friend.position}}</p>
    </div>
  </div>
<div>
<!--
<div class="card" *ngIf="users">มีข้อมูลแล้ว</div>
<div class="card"> {{ users | json }} </div>
-->
<div><h1> รายการ user </h1></div>
<div class="card" *ngFor="let u of users">
  <div class="container">
    <h4><b>{{u._source.user}}</b></h4>
    <p>{{u.password}}</p>
  </div>
</div>
