 <form action="" method="POST" style="border:1px solid #ccc">
  <div class="container">
    <h1>ลงทะเบียน</h1>
  <p>กรุณากรอกข้อมูลต่อไปนี้ให้ครบถ้วน</p>
    <hr>
    <label for="user"><b>User</b></label>
    <input type="text" placeholder="User" #user name="user" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Password" #password name="password" required>

    <p>ยอมรับข้อกำหนด<a href="#" style="color:dodgerblue">ข้อกำหนด</a>ของเว็บไซต์</p>

    <div class="clearfix">
      <button type="button" class="cancelbtn">ยกเลิก</button>
      <button type="button" class="signupbtn" (click)="signup(user.value, password.value)">ลงทะเบียน</button>
    </div>
  </div>
</form>
